/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env
.DS_Store
src/.DS_Store
src/mvMusic/.DS_Store
.lein-repl-history
*~
.nrepl-portplan.txt
.Rhistory
.nrepl-port
plan.txt
*.db
*.lein-repl-history
*nrepl-port
