html
{
	padding:0px;
	margin:0px;
	height:100%;
}
body
{
	background-color:#cccccc;
	height:98%;
	margin:0px;
	padding:0px;
	overflow:auto;
}
#parent
{
	background-color:#a0aec1;
	padding:10px;
	border:0px;
	margin:0px;
	height:100%;
	overflow:auto;
}
#browse-list
{
	float:left;
	background-color:#466289;
	padding:3px;
	width:50%;
	border-radius:5px;
}
.files
{
	float:top;
	background-color:#dbe8f9;
	margin:3px;
	padding:2px;
	overflow:auto;
}
.directories
{
	float:top;
	background-color:#627894;
	margin:3px;
	padding:2px;
}
.download
{
	float:left;
	width:20%;
	height:100%;
}
.filename
{
	float:top;
	width:80%;
	height:100%;
	float:left;
}

